@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.navbar {
    background-color: whitesmoke;
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    /* background-color: aquamarine; */
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo {
    flex: 20%;
    /* border: 1px solid red; */
    text-align: left;
    margin-left: 10%;
}

.logo h1 {
    font-family: "Lobster", sans-serif;
    color: #000080;
    font-size: 34px;
}

.menu {
    flex: 70%;
    /* border: 1px solid red; */
    text-align: right;
    padding: 20px;
}

.menu a {
    color: #000080;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover {
    color: #386ab1;
    border-top: 4px solid #000080;

}

#botao {
    background: #000080;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover {
    border: none;
    background-color: #386ab1;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    padding-top: 100px;

}

.headline {
    flex: 40%;
    margin-left: 10%;
    /* border: 1px solid black; */
}

.headline h2 {
    font-weight: 900;
    font-size: 20px;
    color: #000080;
    padding: 0;
    margin: 0;
}

.contact {
    display: inline-block;
    background: #000080;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;

}

.contact:hover {
    background: #386ab1;
}

.headline:p {
    color: gray;
    text-align: center;
}

.img-headline {
    margin-left: 10%;
    margin-right: 10%;
    flex: 40%;
    /* border: 1px solid black; */
    text-align: center;
}

.section {
    display: inline-block;
    margin-top: 80px;
    /* border: 1px solid black; */
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding: 5%;
    text-align: center;
}

.section h2 {
    width: 100%;
    font-size: 50px;
    margin: 0%;
    font-family: "Lobster", sans-serif;
    font-weight: bold;
    color: #000080;
}

.servicos {
    display: inline-block;
    margin-top: 5%;

}

.card {
    display: inline-block;
    width: 80%;
    padding: 20px;
    margin: 1%;
    border: 2px solid #000080;
    border-radius: 15px;
    background-color: whitesmoke;
}



.bot {
    background: #000080;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
    text-decoration: none;
}

.segunda {
    background-color: whitesmoke;
    display: inline-block;
    margin-top: 20px;
    /* border: 1px solid black; */
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding: 5%;
    text-align: center;
}

.segunda h2 {
    width: 100%;
    height: 200px;
    font-size: 50px;
    margin: 0%;
    font-family: "Lobster", sans-serif;
    font-weight: bold;
    color: #000080;

}

.localizacao {
    display: inline-block;
    /* border: 1px solid black; */

}

.localizacao iframe {
    border-radius: 20px;
}

.loc {
    display: inline-block;
    margin: 1px;
    /* border: 1px solid black; */
}

footer {
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(2deg, black, #000080, #386ab1);
    text-align: center;
    border-top: 5px solid #386ab1;
    max-width: 100%;

}

.log-rodape {
    padding: 100px;
    border: 1px solid white;
}

.empresa {
    font-family: "Lobster", sans-serif;
    color: white;
    font-size: 34px;

}

.whats {
    position: fixed;
    bottom: 2px;
    right: 2px;
    width: 50px;
}

.noish1 h1 {
    font-family: "Lobster", sans-serif;
    color: #000080;
    font-size: 34px;
}